# Git ignore file
.DS_Store
tempfile.txt
*.zip
*.gz
log/*.log
log/*.log.[0-9]
assets/photoshop/
assets/videos/
!assets/videos/tours_*.mp4
bintree
bintree copy

# question: would log/archive/access.log be ignored? No
